Python Library Pandas

In [1]:
%pip install pandas numpy
import pandas as pd 
import numpy as np

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.0.0)
Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 26.0
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 3.0.0
NumPy version: 2.4.2

Series= A pandas 1D labeled array  that can hold any data type (Think of it like a single column in a spreadsheet)

In [3]:
data = [110, 130, 150, 170, 180, 200]  #creating a list of data

series = pd.Series(data, index=["a", "b", "c", "d", "e", "f"])  #creating a pandas series with the data and custom index

print(series)  #print the series

series.loc["c"] = 130  #unpdated the value of index "c" to 130
print(series)    #print the updated series

print(series.loc["b"])  #accessing the value of index "b" which is 120

print(series.iloc[0])  #accessing the value of index 0 which is 100

a    110
b    130
c    150
d    170
e    180
f    200
dtype: int64
a    110
b    130
c    130
d    170
e    180
f    200
dtype: int64
130
110

In [4]:
print(series[series>150])  #filtering the series to get values greater than 150
print(series[series<150])  #filtering the series to get values less than 150

d    170
e    180
f    200
dtype: int64
a    110
b    130
c    130
dtype: int64

In [5]:
calories = {"Day1": 1800, "Day2": 1750, "Day3": 2300}  #creating a dictionary of calories consumed on different days
calories_series = pd.Series(calories)  #creating a pandas series from the dictionary
print(calories_series)  #print the calories series

calories_series.loc["Day1"] += 500 #adding 500 calories to the value of "Day1"
print(calories_series)  #print the updated calories series

Day1    1800
Day2    1750
Day3    2300
dtype: int64
Day1    2300
Day2    1750
Day3    2300
dtype: int64

Dataframe= A tabular data structure which has rows and columns 2D

In [6]:
data = {"Name": ["Alice", "Bob", "Charlie"],  
        "Age": [25, 30, 35]
    }   #creating a dictionary of data for a DataFrame

df = pd.DataFrame(data)  #creating a pandas DataFrame from the dictionary

print(df)  #print the DataFrame

df["Job"] = ["Engineer", "Doctor", "Artist"]  #adding a new column "Job" to the DataFrame

new_rows = pd.DataFrame([{"Name": "David", "Age": 40, "Job": "Lawyer"},
                         {"Name": "Kadu", "Age": 21, "Job": "Editor"}])  #creating a new DataFrame for the new rows

df = pd.concat([df, new_rows], ignore_index=True)  #concatenating the new row to the existing DataFrame
print(df)  #print the DataFrame

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
      Name  Age       Job
0    Alice   25  Engineer
1      Bob   30    Doctor
2  Charlie   35    Artist
3    David   40    Lawyer
4     Kadu   21    Editor

Importing

In [7]:
df = pd.read_csv("pandas.csv", index_col="Name")   #reading a CSV file into a DataFrame
print(df)  #print the DataFrame

print(df.to_string())  #print the entire DataFrame without truncation

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]
             No     Type1     Type2  Height  Weight  Legendary
Name
Bulbasaur     1     Grass    Poison     0.7     6.9          0
Ivysaur       2     Grass    Poison     1.0    13.0          0
Venusaur      3     Grass    Poison     2.0   100.0          0
Charmander    4      Fire       NaN     0.6     8.5          0
Charmeleon    5      Fire       NaN     1.1    19.0          0
Charizard     6      Fire    Flying     1.7    90.5          0
Squirtle      7     Water       NaN     0.5     9.0          0
Wartortle     8     Water       NaN     1.0    22.5          0
Blastoise     9     Water       NaN     1.6    85.5          0
Caterpie     10       Bug       NaN     0.3     2.9          0
Metapod      11       Bug       NaN     0.7     9.9          0
Butterfree   12       Bug    Flying     1.1    32.0          0
Weedle       13       Bug    Poison     0.3     3.2          0
Kakuna       14       Bug    Poison     0.6    10.0          0
Beedrill     15       Bug    Poison     1.0    29.5          0
Pidgey       16    Normal    Flying     0.3     1.8          0
Pidgeotto    17    Normal    Flying     1.1    30.0          0
Pidgeot      18    Normal    Flying     1.5    39.5          0
Rattata      19    Normal       NaN     0.3     3.5          0
Raticate     20    Normal       NaN     0.7    18.5          0
Spearow      21    Normal    Flying     0.3     2.0          0
Fearow       22    Normal    Flying     1.2    38.0          0
Ekans        23    Poison       NaN     2.0     6.9          0
Arbok        24    Poison       NaN     3.5    65.0          0
Pikachu      25  Electric       NaN     0.4     6.0          0
Raichu       26  Electric       NaN     0.8    30.0          0
Sandshrew    27    Ground       NaN     0.6    12.0          0
Sandslash    28    Ground       NaN     1.0    29.5          0
Nidoran♀     29    Poison       NaN     0.4     7.0          0
Nidorina     30    Poison       NaN     0.8    20.0          0
Nidoqueen    31    Poison    Ground     1.3    60.0          0
Nidoran♂     32    Poison       NaN     0.5     9.0          0
Nidorino     33    Poison       NaN     0.9    19.5          0
Nidoking     34    Poison    Ground     1.4    62.0          0
Clefairy     35     Fairy       NaN     0.6     7.5          0
Clefable     36     Fairy       NaN     1.3    40.0          0
Vulpix       37      Fire       NaN     0.6     9.9          0
Ninetales    38      Fire       NaN     1.1    19.9          0
Jigglypuff   39    Normal     Fairy     0.5     5.5          0
Wigglytuff   40    Normal     Fairy     1.0    12.0          0
Zubat        41    Poison    Flying     0.8     7.5          0
Golbat       42    Poison    Flying     1.6    55.0          0
Oddish       43     Grass    Poison     0.5     5.4          0
Gloom        44     Grass    Poison     0.8     8.6          0
Vileplume    45     Grass    Poison     1.2    18.6          0
Paras        46       Bug     Grass     0.3     5.4          0
Parasect     47       Bug     Grass     1.0    29.5          0
Venonat      48       Bug    Poison     1.0    30.0          0
Venomoth     49       Bug    Poison     1.5    12.5          0
Diglett      50    Ground       NaN     0.2     0.8          0
Dugtrio      51    Ground       NaN     0.7    33.3          0
Meowth       52    Normal       NaN     0.4     4.2          0
Persian      53    Normal       NaN     1.0    32.0          0
Psyduck      54     Water       NaN     0.8    19.6          0
Golduck      55     Water       NaN     1.7    76.6          0
Mankey       56  Fighting       NaN     0.5    28.0          0
Primeape     57  Fighting       NaN     1.0    32.0          0
Growlithe    58      Fire       NaN     0.7    19.0          0
Arcanine     59      Fire       NaN     1.9   155.0          0
Poliwag      60     Water       NaN     0.6    12.4          0
Poliwhirl    61     Water       NaN     1.0    20.0          0
Poliwrath    62     Water  Fighting     1.3    54.0          0
Abra         63   Psychic       NaN     0.9    19.5          0
Kadabra      64   Psychic       NaN     1.3    56.5          0
Alakazam     65   Psychic       NaN     1.5    48.0          0
Machop       66  Fighting       NaN     0.8    19.5          0
Machoke      67  Fighting       NaN     1.5    70.5          0
Machamp      68  Fighting       NaN     1.6   130.0          0
Bellsprout   69     Grass    Poison     0.7     4.0          0
Weepinbell   70     Grass    Poison     1.0     6.4          0
Victreebel   71     Grass    Poison     1.7    15.5          0
Tentacool    72     Water    Poison     0.9    45.5          0
Tentacruel   73     Water    Poison     1.6    55.0          0
Geodude      74      Rock    Ground     0.4    20.0          0
Graveler     75      Rock    Ground     1.0   105.0          0
Golem        76      Rock    Ground     1.4   300.0          0
Ponyta       77      Fire       NaN     1.0    30.0          0
Rapidash     78      Fire       NaN     1.7    95.0          0
Slowpoke     79     Water   Psychic     1.2    36.0          0
Slowbro      80     Water   Psychic     1.6    78.5          0
Magnemite    81  Electric     Steel     0.3     6.0          0
Magneton     82  Electric     Steel     1.0    60.0          0
Farfetch'd   83    Normal    Flying     0.8    15.0          0
Doduo        84    Normal    Flying     1.4    39.2          0
Dodrio       85    Normal    Flying     1.8    85.2          0
Seel         86     Water       NaN     1.1    90.0          0
Dewgong      87     Water       Ice     1.7   120.0          0
Grimer       88    Poison       NaN     0.9    30.0          0
Muk          89    Poison       NaN     1.2    30.0          0
Shellder     90     Water       NaN     0.3     4.0          0
Cloyster     91     Water       Ice     1.5   132.5          0
Gastly       92     Ghost    Poison     1.3     0.1          0
Haunter      93     Ghost    Poison     1.6     0.1          0
Gengar       94     Ghost    Poison     1.5    40.5          0
Onix         95      Rock    Ground     8.8   210.0          0
Drowzee      96   Psychic       NaN     1.0    32.4          0
Hypno        97   Psychic       NaN     1.6    75.6          0
Krabby       98     Water       NaN     0.4     6.5          0
Kingler      99     Water       NaN     1.3    60.0          0
Voltorb     100  Electric       NaN     0.5    10.4          0
Electrode   101  Electric       NaN     1.2    66.6          0
Exeggcute   102     Grass   Psychic     0.4     2.5          0
Exeggutor   103     Grass   Psychic     2.0   120.0          0
Cubone      104    Ground       NaN     0.4     6.5          0
Marowak     105    Ground       NaN     1.0    45.0          0
Hitmonlee   106  Fighting       NaN     1.5    49.8          0
Hitmonchan  107  Fighting       NaN     1.4    50.2          0
Lickitung   108    Normal       NaN     1.2    65.5          0
Koffing     109    Poison       NaN     0.6     1.0          0
Weezing     110    Poison       NaN     1.2     9.5          0
Rhyhorn     111    Ground      Rock     1.0   115.0          0
Rhydon      112    Ground      Rock     1.9   120.0          0
Chansey     113    Normal       NaN     1.1    34.6          0
Tangela     114     Grass       NaN     1.0    35.0          0
Kangaskhan  115    Normal       NaN     2.2    80.0          0
Horsea      116     Water       NaN     0.4     8.0          0
Seadra      117     Water       NaN     1.2    25.0          0
Goldeen     118     Water       NaN     0.6    15.0          0
Seaking     119     Water       NaN     1.3    39.0          0
Staryu      120     Water       NaN     0.8    34.5          0
Starmie     121     Water   Psychic     1.1    80.0          0
Mr. Mime    122   Psychic     Fairy     1.3    54.5          0
Scyther     123       Bug    Flying     1.5    56.0          0
Jynx        124       Ice   Psychic     1.4    40.6          0
Electabuzz  125  Electric       NaN     1.1    30.0          0
Magmar      126      Fire       NaN     1.3    44.5          0
Pinsir      127       Bug       NaN     1.5    55.0          0
Tauros      128    Normal       NaN     1.4    88.4          0
Magikarp    129     Water       NaN     0.9    10.0          0
Gyarados    130     Water    Flying     6.5   235.0          0
Lapras      131     Water       Ice     2.5   220.0          0
Ditto       132    Normal       NaN     0.3     4.0          0
Eevee       133    Normal       NaN     0.3     6.5          0
Vaporeon    134     Water       NaN     1.0    29.0          0
Jolteon     135  Electric       NaN     0.8    24.5          0
Flareon     136      Fire       NaN     0.9    25.0          0
Porygon     137    Normal       NaN     0.8    36.5          0
Omanyte     138      Rock     Water     0.4     7.5          0
Omastar     139      Rock     Water     1.0    35.0          0
Kabuto      140      Rock     Water     0.5    11.5          0
Kabutops    141      Rock     Water     1.3    40.5          0
Aerodactyl  142      Rock    Flying     1.8    59.0          0
Snorlax     143    Normal       NaN     2.1   460.0          0
Articuno    144       Ice    Flying     1.7    55.4          1
Zapdos      145  Electric    Flying     1.6    52.6          1
Moltres     146      Fire    Flying     2.0    60.0          1
Dratini     147    Dragon       NaN     1.8     3.3          0
Dragonair   148    Dragon       NaN     4.0    16.5          0
Dragonite   149    Dragon    Flying     2.2   210.0          0
Mewtwo      150   Psychic       NaN     2.0   122.0          1

Selection

In [8]:
print(df["Type1"])  #accessing the "Name" column of the DataFrame

Name
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Moltres          Fire
Dratini        Dragon
Dragonair      Dragon
Dragonite      Dragon
Mewtwo        Psychic
Name: Type1, Length: 150, dtype: str

In [9]:
print(df[["Type1", "Height", "Weight"]])  #accessing multiple columns "Name", "Height", and "Weight" of the DataFrame

              Type1  Height  Weight
Name
Bulbasaur     Grass     0.7     6.9
Ivysaur       Grass     1.0    13.0
Venusaur      Grass     2.0   100.0
Charmander     Fire     0.6     8.5
Charmeleon     Fire     1.1    19.0
...             ...     ...     ...
Moltres        Fire     2.0    60.0
Dratini      Dragon     1.8     3.3
Dragonair    Dragon     4.0    16.5
Dragonite    Dragon     2.2   210.0
Mewtwo      Psychic     2.0   122.0

[150 rows x 3 columns]

In [10]:
print(df.iloc[2])  #accessing the third row of the DataFrame

No                3
Type1         Grass
Type2        Poison
Height          2.0
Weight        100.0
Legendary         0
Name: Venusaur, dtype: object

In [11]:
print(df.loc["Mewtwo"])  #accessing the row with index "Bulbasaur" of the DataFrame

No               150
Type1        Psychic
Type2            NaN
Height           2.0
Weight         122.0
Legendary          1
Name: Mewtwo, dtype: object

In [12]:
print(df.loc["Pikachu", ["Type1", "Height"]])  #accessing specific columns "Name" and "Height" of the row with index "Bulbasaur" of the DataFrame])

Type1     Electric
Height         0.4
Name: Pikachu, dtype: object

In [13]:
print(df.iloc[0:11])  #accessing the first 10 rows of the DataFrame

            No  Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur    1  Grass  Poison     0.7     6.9          0
Ivysaur      2  Grass  Poison     1.0    13.0          0
Venusaur     3  Grass  Poison     2.0   100.0          0
Charmander   4   Fire     NaN     0.6     8.5          0
Charmeleon   5   Fire     NaN     1.1    19.0          0
Charizard    6   Fire  Flying     1.7    90.5          0
Squirtle     7  Water     NaN     0.5     9.0          0
Wartortle    8  Water     NaN     1.0    22.5          0
Blastoise    9  Water     NaN     1.6    85.5          0
Caterpie    10    Bug     NaN     0.3     2.9          0
Metapod     11    Bug     NaN     0.7     9.9          0

In [14]:
pokemon = input("Enter the name of a Pokémon: ")  #taking user input for the name of a Pokémon

try:
    pokemon_data = df.loc[pokemon]  #accessing the row of the DataFrame corresponding to the input Pokémon name
    print(pokemon_data)  #print the data of the input Pokémon
except KeyError:
    print(f"Pokémon '{pokemon}' not found in the DataFrame.")  #handling the case where the input Pokémon name is not found in the DataFrame

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

Filtering= Keeping a row that matches a condition

In [15]:
tall_pokemon = df[df["Height"] >= 2.0]  #filtering the DataFrame to get Pokémon with height greater than and equal to 2.0
print(tall_pokemon)  #print the filtered DataFrame of tall Pokémon

             No    Type1    Type2  Height  Weight  Legendary
Name
Venusaur      3    Grass   Poison     2.0   100.0          0
Ekans        23   Poison      NaN     2.0     6.9          0
Arbok        24   Poison      NaN     3.5    65.0          0
Onix         95     Rock   Ground     8.8   210.0          0
Exeggutor   103    Grass  Psychic     2.0   120.0          0
Kangaskhan  115   Normal      NaN     2.2    80.0          0
Gyarados    130    Water   Flying     6.5   235.0          0
Lapras      131    Water      Ice     2.5   220.0          0
Snorlax     143   Normal      NaN     2.1   460.0          0
Moltres     146     Fire   Flying     2.0    60.0          1
Dragonair   148   Dragon      NaN     4.0    16.5          0
Dragonite   149   Dragon   Flying     2.2   210.0          0
Mewtwo      150  Psychic      NaN     2.0   122.0          1

In [16]:
heavy_pokemon = df[df["Weight"] >= 200.0]  #filtering the DataFrame to get Pokémon with weight greater than and equal to 200.0
print(heavy_pokemon)  #print the filtered DataFrame of heavy Pokémon

            No   Type1   Type2  Height  Weight  Legendary
Name
Golem       76    Rock  Ground     1.4   300.0          0
Onix        95    Rock  Ground     8.8   210.0          0
Gyarados   130   Water  Flying     6.5   235.0          0
Lapras     131   Water     Ice     2.5   220.0          0
Snorlax    143  Normal     NaN     2.1   460.0          0
Dragonite  149  Dragon  Flying     2.2   210.0          0

In [17]:
water_pokemon = df[(df["Type1"] == "Water") | (df["Type2"] == "Water")]  #filtering the DataFrame to get Pokémon that are of type "Water" in either "Type1" or "Type2"
print(water_pokemon)  #print the filtered DataFrame of water Pokémon

             No  Type1     Type2  Height  Weight  Legendary
Name
Squirtle      7  Water       NaN     0.5     9.0          0
Wartortle     8  Water       NaN     1.0    22.5          0
Blastoise     9  Water       NaN     1.6    85.5          0
Psyduck      54  Water       NaN     0.8    19.6          0
Golduck      55  Water       NaN     1.7    76.6          0
Poliwag      60  Water       NaN     0.6    12.4          0
Poliwhirl    61  Water       NaN     1.0    20.0          0
Poliwrath    62  Water  Fighting     1.3    54.0          0
Tentacool    72  Water    Poison     0.9    45.5          0
Tentacruel   73  Water    Poison     1.6    55.0          0
Slowpoke     79  Water   Psychic     1.2    36.0          0
Slowbro      80  Water   Psychic     1.6    78.5          0
Seel         86  Water       NaN     1.1    90.0          0
Dewgong      87  Water       Ice     1.7   120.0          0
Shellder     90  Water       NaN     0.3     4.0          0
Cloyster     91  Water       Ice     1.5   132.5          0
Krabby       98  Water       NaN     0.4     6.5          0
Kingler      99  Water       NaN     1.3    60.0          0
Horsea      116  Water       NaN     0.4     8.0          0
Seadra      117  Water       NaN     1.2    25.0          0
Goldeen     118  Water       NaN     0.6    15.0          0
Seaking     119  Water       NaN     1.3    39.0          0
Staryu      120  Water       NaN     0.8    34.5          0
Starmie     121  Water   Psychic     1.1    80.0          0
Magikarp    129  Water       NaN     0.9    10.0          0
Gyarados    130  Water    Flying     6.5   235.0          0
Lapras      131  Water       Ice     2.5   220.0          0
Vaporeon    134  Water       NaN     1.0    29.0          0
Omanyte     138   Rock     Water     0.4     7.5          0
Omastar     139   Rock     Water     1.0    35.0          0
Kabuto      140   Rock     Water     0.5    11.5          0
Kabutops    141   Rock     Water     1.3    40.5          0

In [18]:
ff_pokemon = df[(df["Type1"] == "Fire") & (df["Type2"] == "Flying")]  #filtering the DataFrame to get Pokémon that are of type "Fire" in "Type1" and "Flying" in "Type2"
print(ff_pokemon)  #print the filtered DataFrame of Fire and Flying type Pokémon

            No Type1   Type2  Height  Weight  Legendary
Name
Charizard    6  Fire  Flying     1.7    90.5          0
Moltres    146  Fire  Flying     2.0    60.0          1

Aggregate Function = Reduces a set of values into a single summary value 
                     Used to summarize and analyze data
                     Often used with the groupby() function

In [19]:
# For Whole columns

mean_height = df.mean(numeric_only=True)
print(mean_height)  #print the mean height, weight, and Legendary status of all Pokémon

print(df.sum(numeric_only=True))  #print the sum of height, weight, and Legendary status of all Pokémon

print(df.min(numeric_only=True))  #print the minimum height, weight, and Legendary status of all Pokémon
print(df.max(numeric_only=True))  #print the maximum height, weight, and Legendary status of all Pokémon
print(df.count())  #print the count of non-null values in each column of the DataFrame

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64
No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64
No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64
No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64
No           150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

In [20]:
#For Specific columns
print(df["Height"].mean())  #print the mean height of all Pokémon
print(df["Weight"].sum())  #print the sum of weight of all Pokémon
print(df["Height"].min())  #print the minimum height of all Pokémon
print(df["Weight"].max())  #print the maximum weight of all Pokémon
print(df["Type1"].value_counts())  #print the count of each unique value in the "Type1" column of the DataFrame

1.2
6934.700000000001
0.2
460.0
Type1
Water       28
Normal      22
Poison      14
Grass       12
Fire        12
Bug         12
Electric     9
Rock         9
Ground       8
Fighting     7
Psychic      7
Ghost        3
Dragon       3
Fairy        2
Ice          2
Name: count, dtype: int64

In [21]:
# GroupBy()

group = df.groupby("Type1")  #grouping the DataFrame by the "Type1" column
print(group["Height"].mean())  #print the mean height of Pokémon for each unique value in the "Type1" column of the DataFrame

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [22]:
print(group["Height"].count())  #print the count of Pokémon for each unique value in the "Type1" column of the DataFrame

Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Height, dtype: int64

Data CLeaning

In [24]:
# Drop irrelevant columns
print(df)  #print the column names of the DataFrame before dropping irrelevant columns
df = df.drop(columns=["Height"])  #dropping the "Type2" and "Legendary" columns from the DataFrame
print(df)  #print the updated DataFrame with irrelevant columns dropped

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]
             No    Type1   Type2  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     6.9          0
Ivysaur       2    Grass  Poison    13.0          0
Venusaur      3    Grass  Poison   100.0          0
Charmander    4     Fire     NaN     8.5          0
Charmeleon    5     Fire     NaN    19.0          0
...         ...      ...     ...     ...        ...
Moltres     146     Fire  Flying    60.0          1
Dratini     147   Dragon     NaN     3.3          0
Dragonair   148   Dragon     NaN    16.5          0
Dragonite   149   Dragon  Flying   210.0          0
Mewtwo      150  Psychic     NaN   122.0          1

[150 rows x 5 columns]

In [25]:
# Handling missing values
df = df.fillna({"Type2" : "Nahi Hai"})  #filling any missing values in the DataFrame with 0
print(df.to_string())  #print the updated DataFrame with missing values handled

# df = df.dropna(subset=["Type2"])  #dropping any rows with missing values from the DataFrame
# print(df.to_string())  #print the updated DataFrame with rows containing missing values dropped

             No     Type1     Type2  Weight  Legendary
Name
Bulbasaur     1     Grass    Poison     6.9          0
Ivysaur       2     Grass    Poison    13.0          0
Venusaur      3     Grass    Poison   100.0          0
Charmander    4      Fire  Nahi Hai     8.5          0
Charmeleon    5      Fire  Nahi Hai    19.0          0
Charizard     6      Fire    Flying    90.5          0
Squirtle      7     Water  Nahi Hai     9.0          0
Wartortle     8     Water  Nahi Hai    22.5          0
Blastoise     9     Water  Nahi Hai    85.5          0
Caterpie     10       Bug  Nahi Hai     2.9          0
Metapod      11       Bug  Nahi Hai     9.9          0
Butterfree   12       Bug    Flying    32.0          0
Weedle       13       Bug    Poison     3.2          0
Kakuna       14       Bug    Poison    10.0          0
Beedrill     15       Bug    Poison    29.5          0
Pidgey       16    Normal    Flying     1.8          0
Pidgeotto    17    Normal    Flying    30.0          0
Pidgeot      18    Normal    Flying    39.5          0
Rattata      19    Normal  Nahi Hai     3.5          0
Raticate     20    Normal  Nahi Hai    18.5          0
Spearow      21    Normal    Flying     2.0          0
Fearow       22    Normal    Flying    38.0          0
Ekans        23    Poison  Nahi Hai     6.9          0
Arbok        24    Poison  Nahi Hai    65.0          0
Pikachu      25  Electric  Nahi Hai     6.0          0
Raichu       26  Electric  Nahi Hai    30.0          0
Sandshrew    27    Ground  Nahi Hai    12.0          0
Sandslash    28    Ground  Nahi Hai    29.5          0
Nidoran♀     29    Poison  Nahi Hai     7.0          0
Nidorina     30    Poison  Nahi Hai    20.0          0
Nidoqueen    31    Poison    Ground    60.0          0
Nidoran♂     32    Poison  Nahi Hai     9.0          0
Nidorino     33    Poison  Nahi Hai    19.5          0
Nidoking     34    Poison    Ground    62.0          0
Clefairy     35     Fairy  Nahi Hai     7.5          0
Clefable     36     Fairy  Nahi Hai    40.0          0
Vulpix       37      Fire  Nahi Hai     9.9          0
Ninetales    38      Fire  Nahi Hai    19.9          0
Jigglypuff   39    Normal     Fairy     5.5          0
Wigglytuff   40    Normal     Fairy    12.0          0
Zubat        41    Poison    Flying     7.5          0
Golbat       42    Poison    Flying    55.0          0
Oddish       43     Grass    Poison     5.4          0
Gloom        44     Grass    Poison     8.6          0
Vileplume    45     Grass    Poison    18.6          0
Paras        46       Bug     Grass     5.4          0
Parasect     47       Bug     Grass    29.5          0
Venonat      48       Bug    Poison    30.0          0
Venomoth     49       Bug    Poison    12.5          0
Diglett      50    Ground  Nahi Hai     0.8          0
Dugtrio      51    Ground  Nahi Hai    33.3          0
Meowth       52    Normal  Nahi Hai     4.2          0
Persian      53    Normal  Nahi Hai    32.0          0
Psyduck      54     Water  Nahi Hai    19.6          0
Golduck      55     Water  Nahi Hai    76.6          0
Mankey       56  Fighting  Nahi Hai    28.0          0
Primeape     57  Fighting  Nahi Hai    32.0          0
Growlithe    58      Fire  Nahi Hai    19.0          0
Arcanine     59      Fire  Nahi Hai   155.0          0
Poliwag      60     Water  Nahi Hai    12.4          0
Poliwhirl    61     Water  Nahi Hai    20.0          0
Poliwrath    62     Water  Fighting    54.0          0
Abra         63   Psychic  Nahi Hai    19.5          0
Kadabra      64   Psychic  Nahi Hai    56.5          0
Alakazam     65   Psychic  Nahi Hai    48.0          0
Machop       66  Fighting  Nahi Hai    19.5          0
Machoke      67  Fighting  Nahi Hai    70.5          0
Machamp      68  Fighting  Nahi Hai   130.0          0
Bellsprout   69     Grass    Poison     4.0          0
Weepinbell   70     Grass    Poison     6.4          0
Victreebel   71     Grass    Poison    15.5          0
Tentacool    72     Water    Poison    45.5          0
Tentacruel   73     Water    Poison    55.0          0
Geodude      74      Rock    Ground    20.0          0
Graveler     75      Rock    Ground   105.0          0
Golem        76      Rock    Ground   300.0          0
Ponyta       77      Fire  Nahi Hai    30.0          0
Rapidash     78      Fire  Nahi Hai    95.0          0
Slowpoke     79     Water   Psychic    36.0          0
Slowbro      80     Water   Psychic    78.5          0
Magnemite    81  Electric     Steel     6.0          0
Magneton     82  Electric     Steel    60.0          0
Farfetch'd   83    Normal    Flying    15.0          0
Doduo        84    Normal    Flying    39.2          0
Dodrio       85    Normal    Flying    85.2          0
Seel         86     Water  Nahi Hai    90.0          0
Dewgong      87     Water       Ice   120.0          0
Grimer       88    Poison  Nahi Hai    30.0          0
Muk          89    Poison  Nahi Hai    30.0          0
Shellder     90     Water  Nahi Hai     4.0          0
Cloyster     91     Water       Ice   132.5          0
Gastly       92     Ghost    Poison     0.1          0
Haunter      93     Ghost    Poison     0.1          0
Gengar       94     Ghost    Poison    40.5          0
Onix         95      Rock    Ground   210.0          0
Drowzee      96   Psychic  Nahi Hai    32.4          0
Hypno        97   Psychic  Nahi Hai    75.6          0
Krabby       98     Water  Nahi Hai     6.5          0
Kingler      99     Water  Nahi Hai    60.0          0
Voltorb     100  Electric  Nahi Hai    10.4          0
Electrode   101  Electric  Nahi Hai    66.6          0
Exeggcute   102     Grass   Psychic     2.5          0
Exeggutor   103     Grass   Psychic   120.0          0
Cubone      104    Ground  Nahi Hai     6.5          0
Marowak     105    Ground  Nahi Hai    45.0          0
Hitmonlee   106  Fighting  Nahi Hai    49.8          0
Hitmonchan  107  Fighting  Nahi Hai    50.2          0
Lickitung   108    Normal  Nahi Hai    65.5          0
Koffing     109    Poison  Nahi Hai     1.0          0
Weezing     110    Poison  Nahi Hai     9.5          0
Rhyhorn     111    Ground      Rock   115.0          0
Rhydon      112    Ground      Rock   120.0          0
Chansey     113    Normal  Nahi Hai    34.6          0
Tangela     114     Grass  Nahi Hai    35.0          0
Kangaskhan  115    Normal  Nahi Hai    80.0          0
Horsea      116     Water  Nahi Hai     8.0          0
Seadra      117     Water  Nahi Hai    25.0          0
Goldeen     118     Water  Nahi Hai    15.0          0
Seaking     119     Water  Nahi Hai    39.0          0
Staryu      120     Water  Nahi Hai    34.5          0
Starmie     121     Water   Psychic    80.0          0
Mr. Mime    122   Psychic     Fairy    54.5          0
Scyther     123       Bug    Flying    56.0          0
Jynx        124       Ice   Psychic    40.6          0
Electabuzz  125  Electric  Nahi Hai    30.0          0
Magmar      126      Fire  Nahi Hai    44.5          0
Pinsir      127       Bug  Nahi Hai    55.0          0
Tauros      128    Normal  Nahi Hai    88.4          0
Magikarp    129     Water  Nahi Hai    10.0          0
Gyarados    130     Water    Flying   235.0          0
Lapras      131     Water       Ice   220.0          0
Ditto       132    Normal  Nahi Hai     4.0          0
Eevee       133    Normal  Nahi Hai     6.5          0
Vaporeon    134     Water  Nahi Hai    29.0          0
Jolteon     135  Electric  Nahi Hai    24.5          0
Flareon     136      Fire  Nahi Hai    25.0          0
Porygon     137    Normal  Nahi Hai    36.5          0
Omanyte     138      Rock     Water     7.5          0
Omastar     139      Rock     Water    35.0          0
Kabuto      140      Rock     Water    11.5          0
Kabutops    141      Rock     Water    40.5          0
Aerodactyl  142      Rock    Flying    59.0          0
Snorlax     143    Normal  Nahi Hai   460.0          0
Articuno    144       Ice    Flying    55.4          1
Zapdos      145  Electric    Flying    52.6          1
Moltres     146      Fire    Flying    60.0          1
Dratini     147    Dragon  Nahi Hai     3.3          0
Dragonair   148    Dragon  Nahi Hai    16.5          0
Dragonite   149    Dragon    Flying   210.0          0
Mewtwo      150   Psychic  Nahi Hai   122.0          1

In [26]:
# Fixing inconsistent data
df["Type1"] = df["Type1"].replace({"Grass": "GRASS",
                                   "Fire": "AAGGG"})  #replacing any occurrences of "Nahi Hai" in the "Type2" column with "None"
print(df.to_string())  #print the updated DataFrame with inconsistent data fixed

             No     Type1     Type2  Weight  Legendary
Name
Bulbasaur     1     GRASS    Poison     6.9          0
Ivysaur       2     GRASS    Poison    13.0          0
Venusaur      3     GRASS    Poison   100.0          0
Charmander    4     AAGGG  Nahi Hai     8.5          0
Charmeleon    5     AAGGG  Nahi Hai    19.0          0
Charizard     6     AAGGG    Flying    90.5          0
Squirtle      7     Water  Nahi Hai     9.0          0
Wartortle     8     Water  Nahi Hai    22.5          0
Blastoise     9     Water  Nahi Hai    85.5          0
Caterpie     10       Bug  Nahi Hai     2.9          0
Metapod      11       Bug  Nahi Hai     9.9          0
Butterfree   12       Bug    Flying    32.0          0
Weedle       13       Bug    Poison     3.2          0
Kakuna       14       Bug    Poison    10.0          0
Beedrill     15       Bug    Poison    29.5          0
Pidgey       16    Normal    Flying     1.8          0
Pidgeotto    17    Normal    Flying    30.0          0
Pidgeot      18    Normal    Flying    39.5          0
Rattata      19    Normal  Nahi Hai     3.5          0
Raticate     20    Normal  Nahi Hai    18.5          0
Spearow      21    Normal    Flying     2.0          0
Fearow       22    Normal    Flying    38.0          0
Ekans        23    Poison  Nahi Hai     6.9          0
Arbok        24    Poison  Nahi Hai    65.0          0
Pikachu      25  Electric  Nahi Hai     6.0          0
Raichu       26  Electric  Nahi Hai    30.0          0
Sandshrew    27    Ground  Nahi Hai    12.0          0
Sandslash    28    Ground  Nahi Hai    29.5          0
Nidoran♀     29    Poison  Nahi Hai     7.0          0
Nidorina     30    Poison  Nahi Hai    20.0          0
Nidoqueen    31    Poison    Ground    60.0          0
Nidoran♂     32    Poison  Nahi Hai     9.0          0
Nidorino     33    Poison  Nahi Hai    19.5          0
Nidoking     34    Poison    Ground    62.0          0
Clefairy     35     Fairy  Nahi Hai     7.5          0
Clefable     36     Fairy  Nahi Hai    40.0          0
Vulpix       37     AAGGG  Nahi Hai     9.9          0
Ninetales    38     AAGGG  Nahi Hai    19.9          0
Jigglypuff   39    Normal     Fairy     5.5          0
Wigglytuff   40    Normal     Fairy    12.0          0
Zubat        41    Poison    Flying     7.5          0
Golbat       42    Poison    Flying    55.0          0
Oddish       43     GRASS    Poison     5.4          0
Gloom        44     GRASS    Poison     8.6          0
Vileplume    45     GRASS    Poison    18.6          0
Paras        46       Bug     Grass     5.4          0
Parasect     47       Bug     Grass    29.5          0
Venonat      48       Bug    Poison    30.0          0
Venomoth     49       Bug    Poison    12.5          0
Diglett      50    Ground  Nahi Hai     0.8          0
Dugtrio      51    Ground  Nahi Hai    33.3          0
Meowth       52    Normal  Nahi Hai     4.2          0
Persian      53    Normal  Nahi Hai    32.0          0
Psyduck      54     Water  Nahi Hai    19.6          0
Golduck      55     Water  Nahi Hai    76.6          0
Mankey       56  Fighting  Nahi Hai    28.0          0
Primeape     57  Fighting  Nahi Hai    32.0          0
Growlithe    58     AAGGG  Nahi Hai    19.0          0
Arcanine     59     AAGGG  Nahi Hai   155.0          0
Poliwag      60     Water  Nahi Hai    12.4          0
Poliwhirl    61     Water  Nahi Hai    20.0          0
Poliwrath    62     Water  Fighting    54.0          0
Abra         63   Psychic  Nahi Hai    19.5          0
Kadabra      64   Psychic  Nahi Hai    56.5          0
Alakazam     65   Psychic  Nahi Hai    48.0          0
Machop       66  Fighting  Nahi Hai    19.5          0
Machoke      67  Fighting  Nahi Hai    70.5          0
Machamp      68  Fighting  Nahi Hai   130.0          0
Bellsprout   69     GRASS    Poison     4.0          0
Weepinbell   70     GRASS    Poison     6.4          0
Victreebel   71     GRASS    Poison    15.5          0
Tentacool    72     Water    Poison    45.5          0
Tentacruel   73     Water    Poison    55.0          0
Geodude      74      Rock    Ground    20.0          0
Graveler     75      Rock    Ground   105.0          0
Golem        76      Rock    Ground   300.0          0
Ponyta       77     AAGGG  Nahi Hai    30.0          0
Rapidash     78     AAGGG  Nahi Hai    95.0          0
Slowpoke     79     Water   Psychic    36.0          0
Slowbro      80     Water   Psychic    78.5          0
Magnemite    81  Electric     Steel     6.0          0
Magneton     82  Electric     Steel    60.0          0
Farfetch'd   83    Normal    Flying    15.0          0
Doduo        84    Normal    Flying    39.2          0
Dodrio       85    Normal    Flying    85.2          0
Seel         86     Water  Nahi Hai    90.0          0
Dewgong      87     Water       Ice   120.0          0
Grimer       88    Poison  Nahi Hai    30.0          0
Muk          89    Poison  Nahi Hai    30.0          0
Shellder     90     Water  Nahi Hai     4.0          0
Cloyster     91     Water       Ice   132.5          0
Gastly       92     Ghost    Poison     0.1          0
Haunter      93     Ghost    Poison     0.1          0
Gengar       94     Ghost    Poison    40.5          0
Onix         95      Rock    Ground   210.0          0
Drowzee      96   Psychic  Nahi Hai    32.4          0
Hypno        97   Psychic  Nahi Hai    75.6          0
Krabby       98     Water  Nahi Hai     6.5          0
Kingler      99     Water  Nahi Hai    60.0          0
Voltorb     100  Electric  Nahi Hai    10.4          0
Electrode   101  Electric  Nahi Hai    66.6          0
Exeggcute   102     GRASS   Psychic     2.5          0
Exeggutor   103     GRASS   Psychic   120.0          0
Cubone      104    Ground  Nahi Hai     6.5          0
Marowak     105    Ground  Nahi Hai    45.0          0
Hitmonlee   106  Fighting  Nahi Hai    49.8          0
Hitmonchan  107  Fighting  Nahi Hai    50.2          0
Lickitung   108    Normal  Nahi Hai    65.5          0
Koffing     109    Poison  Nahi Hai     1.0          0
Weezing     110    Poison  Nahi Hai     9.5          0
Rhyhorn     111    Ground      Rock   115.0          0
Rhydon      112    Ground      Rock   120.0          0
Chansey     113    Normal  Nahi Hai    34.6          0
Tangela     114     GRASS  Nahi Hai    35.0          0
Kangaskhan  115    Normal  Nahi Hai    80.0          0
Horsea      116     Water  Nahi Hai     8.0          0
Seadra      117     Water  Nahi Hai    25.0          0
Goldeen     118     Water  Nahi Hai    15.0          0
Seaking     119     Water  Nahi Hai    39.0          0
Staryu      120     Water  Nahi Hai    34.5          0
Starmie     121     Water   Psychic    80.0          0
Mr. Mime    122   Psychic     Fairy    54.5          0
Scyther     123       Bug    Flying    56.0          0
Jynx        124       Ice   Psychic    40.6          0
Electabuzz  125  Electric  Nahi Hai    30.0          0
Magmar      126     AAGGG  Nahi Hai    44.5          0
Pinsir      127       Bug  Nahi Hai    55.0          0
Tauros      128    Normal  Nahi Hai    88.4          0
Magikarp    129     Water  Nahi Hai    10.0          0
Gyarados    130     Water    Flying   235.0          0
Lapras      131     Water       Ice   220.0          0
Ditto       132    Normal  Nahi Hai     4.0          0
Eevee       133    Normal  Nahi Hai     6.5          0
Vaporeon    134     Water  Nahi Hai    29.0          0
Jolteon     135  Electric  Nahi Hai    24.5          0
Flareon     136     AAGGG  Nahi Hai    25.0          0
Porygon     137    Normal  Nahi Hai    36.5          0
Omanyte     138      Rock     Water     7.5          0
Omastar     139      Rock     Water    35.0          0
Kabuto      140      Rock     Water    11.5          0
Kabutops    141      Rock     Water    40.5          0
Aerodactyl  142      Rock    Flying    59.0          0
Snorlax     143    Normal  Nahi Hai   460.0          0
Articuno    144       Ice    Flying    55.4          1
Zapdos      145  Electric    Flying    52.6          1
Moltres     146     AAGGG    Flying    60.0          1
Dratini     147    Dragon  Nahi Hai     3.3          0
Dragonair   148    Dragon  Nahi Hai    16.5          0
Dragonite   149    Dragon    Flying   210.0          0
Mewtwo      150   Psychic  Nahi Hai   122.0          1

In [27]:
# fix data types

df["Legendary"] = df["Legendary"].astype(bool)  #converting the "Legendary" column to boolean data type
print(df)  #print the data types of each column in the DataFrame

             No    Type1     Type2  Weight  Legendary
Name
Bulbasaur     1    GRASS    Poison     6.9      False
Ivysaur       2    GRASS    Poison    13.0      False
Venusaur      3    GRASS    Poison   100.0      False
Charmander    4    AAGGG  Nahi Hai     8.5      False
Charmeleon    5    AAGGG  Nahi Hai    19.0      False
...         ...      ...       ...     ...        ...
Moltres     146    AAGGG    Flying    60.0       True
Dratini     147   Dragon  Nahi Hai     3.3      False
Dragonair   148   Dragon  Nahi Hai    16.5      False
Dragonite   149   Dragon    Flying   210.0      False
Mewtwo      150  Psychic  Nahi Hai   122.0       True

[150 rows x 5 columns]

In [28]:
df.head()  #print the first 5 rows of the DataFrame

            No  Type1     Type2  Weight  Legendary
Name
Bulbasaur    1  GRASS    Poison     6.9      False
Ivysaur      2  GRASS    Poison    13.0      False
Venusaur     3  GRASS    Poison   100.0      False
Charmander   4  AAGGG  Nahi Hai     8.5      False
Charmeleon   5  AAGGG  Nahi Hai    19.0      False

In [29]:
df.tail()  #print the last 5 rows of the DataFrame

            No    Type1     Type2  Weight  Legendary
Name
Moltres    146    AAGGG    Flying    60.0       True
Dratini    147   Dragon  Nahi Hai     3.3      False
Dragonair  148   Dragon  Nahi Hai    16.5      False
Dragonite  149   Dragon    Flying   210.0      False
Mewtwo     150  Psychic  Nahi Hai   122.0       True

In [30]:
df.shape  #print the number of rows and columns in the DataFrame

(150, 5)

In [31]:
df.columns  #print the column names of the DataFrame

Index(['No', 'Type1', 'Type2', 'Weight', 'Legendary'], dtype='str')

In [32]:
df.info()  #print a summary of the DataFrame, including the data types and non-null counts of each column

<class 'pandas.DataFrame'>
Index: 150 entries, Bulbasaur to Mewtwo
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         150 non-null    int64
 1   Type1      150 non-null    str
 2   Type2      150 non-null    str
 3   Weight     150 non-null    float64
 4   Legendary  150 non-null    bool
dtypes: bool(1), float64(1), int64(1), str(2)
memory usage: 10.1+ KB

In [33]:
df.describe()  #print summary statistics of the numerical columns in the DataFrame

               No      Weight
count  150.000000  150.000000
mean    75.500000   46.231333
std     43.445368   59.547388
min      1.000000    0.100000
25%     38.250000    9.925000
50%     75.500000   30.000000
75%    112.750000   56.375000
max    150.000000  460.000000